In [1]:
import pandas as pd

melbourne_file_path = '/Users/jpalbino/downloads/Kaggle Machine Learning Intro/data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [2]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [3]:
y = melbourne_data.Price

In [4]:
## Choosing "Features"
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [5]:
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
11       1097000.0
16       1350000.0
17        750000.0
22       1310000.0
23       1200000.0
25       1176500.0
27        890000.0
28       1330000.0
31        500000.0
32       1100000.0
33       1315000.0
37       1447500.0
39       1135000.0
44       1290000.0
45        470000.0
46       1180000.0
47       1195000.0
48       1012500.0
50       1030000.0
52        840000.0
53        730000.0
54        770000.0
55        603000.0
56        700000.0
57        600000.0
           ...
15333     880000.0
15335     945000.0
15336     730000.0
15338     980000.0
15345     570000.0
15350     600000.0
15351     360000.0
15353     475000.0
15354     495000.0
15356     695000.0
15357     760000.0
15358     583500.0
15360     585000.0
15363    1245000.0
15364    2000000.0
15366     407000.0
15369     891000.0
15370     615500.0
15371     300000.0
15375    1310000.0
15380     645000.0
15381     482500.0
15382     394000.0
15385     821000.0
15386     635000.0
15388     601000.0
15389    1050000.0
15390     385000.0
15392     560000.0
15395    2450000.0
Name: Price, Length: 6196, dtype: float64

In [6]:
melbourne_features

['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [7]:
X = melbourne_data[melbourne_features]

In [8]:
X

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
11         2       1.0     220.0  -37.80100   144.99890
16         3       2.0     214.0  -37.80850   144.99640
17         2       2.0       0.0  -37.80780   144.99650
22         2       1.0     238.0  -37.80900   144.99760
23         3       2.0     113.0  -37.80560   144.99300
25         3       1.0     138.0  -37.80210   144.99650
27         2       1.0     150.0  -37.80110   145.00040
28         4       2.0     780.0  -37.80730   144.99520
31         2       1.0       0.0  -37.80150   144.99720
32         2       2.0     124.0  -37.80790   144.99770
33         2       1.0     147.0  -37.80800   144.99400
37         3       3.0     166.0  -37.80170   145.00010
39         2       2.0      98.0  -37.80050   144.99520
44         3       1.0     168.0  -37.80070   144.99580
45         1       1.0       0.0  -37.80550   144.99610
46         2       1.0     162.0  -37.80160   144.99560
47         3       2.0     120.0  -37.80220   144.99540
48         2       1.0     182.0  -37.80210   144.99760
50         2       1.0     172.0  -37.80860   144.99460
52         3       2.0     303.0  -37.71800   144.87800
53         3       2.0       0.0  -37.72030   144.87550
54         3       2.0       0.0  -37.72030   144.87550
55         2       1.0     272.0  -37.72940   144.88800
56         3       2.0     239.0  -37.72180   144.88370
57         3       1.0     290.0  -37.72730   144.87440
...      ...       ...       ...        ...         ...
15333      4       2.0     535.0  -38.09683   145.12981
15335      2       1.0     126.0  -37.80473   144.89095
15336      3       2.0     340.0  -37.83172   144.86683
15338      2       1.0      64.0  -37.83326   144.95464
15345      2       1.0       0.0  -37.84679   145.00206
15350      2       1.0       0.0  -37.85911   144.97900
15351      2       1.0     143.0  -37.57063   144.70693
15353      3       1.0     754.0  -37.58442   144.75565
15354      3       2.0     563.0  -37.57499   144.75329
15356      3       1.0     694.0  -37.78871   144.81369
15357      3       1.0    1143.0  -37.79135   144.79948
15358      3       1.0     672.0  -37.80118   144.80996
15360      3       2.0     662.0  -37.70525   144.75699
15363      3       2.0     779.0  -37.76311   145.10494
15364      6       3.0    1054.0  -37.77404   145.11703
15366      2       1.0     140.0  -37.68199   145.01744
15369      3       2.0     199.0  -37.75948   144.99615
15370      3       2.0     238.0  -37.70322   144.88236
15371      2       1.0       0.0  -37.69815   144.88019
15375      5       3.0     818.0  -37.87846   145.24212
15380      4       2.0     555.0  -37.89359   144.66911
15381      4       2.0     533.0  -37.89337   144.64003
15382      3       2.0     287.0  -37.87895   144.67070
15385      4       3.0     544.0  -37.67841   144.87924
15386      3       2.0     691.0  -37.68026   144.88468
15388      3       2.0     972.0  -37.51232   145.13282
15389      3       1.0     179.0  -37.86558   144.90474
15390      1       1.0       0.0  -37.85588   144.89936
15392      2       1.0       0.0  -37.85581   144.99025
15395      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]

In [9]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [10]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [11]:
## Building Your Model

In [12]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [13]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]